:root {
  --black-color: #000000;
  --blue-color: #1820EF;
  --red-color: #FF4E42;
  --yellow-color: #FFC024;
  --off-white-color: #FAFAED;
  --bg-color:#FAFAED;
  --white:#fff;
  --light-grey:#C5C5C5;
  --sand-color:#E0DBBF;
}